name: Yak Analysis Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  yak-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download yak binary
        run: |
          wget -O yak https://aliyun-oss.yaklang.com/yak/1.3.5-beta5/yak_linux_amd64
          chmod +x yak

      - name: Setup PATH
        run: echo "${GITHUB_WORKSPACE}" >> $GITHUB_PATH

      - name: Execute test script
        run: |
          chmod +x scripts/test.sh
          ./scripts/test.sh
        shell: bash
